<main>
    <h1>Sign Up</h1>
    <form action="/SignUp" method="post">
        <div>
            <label for="userId">User Id: </label>
            <input type="text" name="userId" id="userId">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="licensePlate">License Plate:</label>
            <input type="text" name="licensePlate" id="licensePlate">
        </div>
        <button type="submit">SingUp</button>
    </form>
    {{#if ErrorMsg}}
    <p>{{ErrorMsg}}</p>
    {{/if}}
</main>